<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Host activity for Robolectric/Roborazzi Compose tests (debug builds only) -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false" />
    </application>

</manifest>
